<div>
    <div>
        {{emsType}}
    </div>
    <div>
        {{emsCar.length > 0 ? emsCar[emsType - 1].tipologiaStrutture: ''}}
    </div>
    <select (change)="selezionaCaratteristica($event.target.value)">
        <option selected disabled>Caratteristiche:</option>
        <option [value]="arr.id"
        *ngFor="let arr of emsCar[emsType - 1].carQualEms; index as j"> <!-- carQualEms è un oggetto di tipo CaratteristicheQualitative -->
            {{arr.caratteristicheQualitative}}
        </option>
    </select>
    <select (change)="selezionaInterventiByCaratteristicaAndStruttura($event.target.value)">
        <option selected disabled>Strutture:</option>
        <option [value]="a.id" *ngFor="let a of strutturaObj">
            {{a.struttura}}
        </option>
    </select>
    <select>
        <option selected disabled>Intervento:</option>
        <option *ngFor="let int of variabileIntervento">
            {{int.intervento.codice}}
        </option>
    </select>

    <!--<select>
        <option *ngFor="let inte of variabileIntervento">
            {{inte.intervento.codice}}
        </option>
    </select>-->
</div>