<div>
    <div>
        {{emsType}}
    </div>
    <div>
        {{emsCar[emsType - 1].tipologiaStrutture}}
    </div>
    <select>
        CARATTERISTICHE: 
        <option (change)="selezionaCaratteristica($event.target.value)" *ngFor="let arr of emsCar[emsType - 1].carQualEms">
            {{arr.caratteristicheQualitative}}
        </option>
    </select>
    <select>

    </select>

    <!--<select>
        <option *ngFor="let inte of variabileIntervento">
            {{inte.intervento.codice}}
        </option>
    </select>-->
</div>