<div>
    <div>
        {{emsCar.length > 0 ? emsCar[emsType - 1].tipologiaStrutture: ''}}
    </div>

    <select (change)="selezionaCaratteristica($event.target.value)">
        <option selected disabled>Caratteristiche:</option>
        <option [value]="arr.id"
        *ngFor="let arr of emsCar[emsType - 1].carQualEms; index as j"> <!-- carQualEms è un oggetto di tipo CaratteristicheQualitative -->
            {{arr.caratteristicheQualitative}}
        </option>
    </select>

    <select (change)="selezionaInterventiByCaratteristicaAndStruttura($event.target.value)">
        <option selected disabled>Strutture:</option>
        <option [value]="a.id" *ngFor="let a of strutturaObj">
            {{a.struttura}}
        </option>
    </select>

    <select>
        <option selected disabled>Intervento:</option>
        <option *ngFor="let int of interventiSecondari">
            {{int.intervento.codice}}
        </option>
    </select>

    <div class="container">
    <div class="floatRight">
        <table class="table table-hover table-bordered">
          <tbody>
            <tr>
              <th scope="row">Tipologia EMS</th>
              <td>{{emsType}}</td>
            </tr>
            <tr>
              <th scope="col" colspan="2" style="text-align: center; background-color: #343a40; color: white;">VALUTAZIONE
                PRE INTERVENTO</th>
            </tr>
            <tr>
              <th scope="row">Punteggio di vulnerabilità</th>
              <td>{{punteggio}}</td>
            </tr>
            <tr>
              <th scope="row">Classe di vulnerabilità</th>
              <td>V{{vulClass}}</td>
            </tr>
            <tr>
              <th scope="row">Soglia di punteggio per il passaggio alla classe inferiore </th>
              <td>{{soglia}}</td>
            </tr>
            <tr>
              <th scope="col" colspan="2" style="text-align: center; background-color: #343a40;"></th>
            </tr>
            <tr>
              <th scope="row">Δpunteggio per il passaggio di classe</th>
              <td>{{punteggioPassaggioClasse}}</td>
            </tr>
            <tr>
              <th scope="col" colspan="2" style="text-align: center; background-color: #343a40; color: white;">VALUTAZIONE
                POST INTERVENTO</th>
            </tr>
            <tr *ngFor="let interventi of interventiSecondari; index as i">
              <th scope="row">Incidenza intervento {{i + 1}}
              </th>
              <td>{{interventi.ante - interventi.post}}</td>
            </tr>
            <tr>
              <th scope="row">Incidenza del pacchetto di interventi</th>
              <td>{{deltaPunteggioFinale}}</td>
            </tr>
            <tr>
              <th scope="row">Δpunteggio risultante
              </th>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Punteggio di vulnerabilità
              </th>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Classe di vulnerabilità
              </th>
              <td>V{{vulClass - 1}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
</div>