<div class="card my-5">
    <div class="card-body">
        <div>
            <div class="form-check">
              <input id="checkbox1" [(ngModel)]="toggleSuperficie" (change)="cambiaTotale()" type="checkbox">
              <label for="checkbox1">Checkbox di esempio</label>
            </div>
          </div>
        <table class="table table-hover table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th rowspan="2" colspan="1">Codice</th>
                    <th rowspan="2" scope="colgroup">Modicità di costo</th>
                    <th rowspan="2" scope="colgroup">Efficacia</th>
                    <th scope="colgroup" *ngIf="toggleSuperficie">Superfici intonacate</th>
                    <th scope="colgroup" *ngIf="!toggleSuperficie">Superfici a vista</th>
                    <th rowspan="2" scope="colgroup">Reversibilità</th>
                    <th rowspan="2" scope="colgroup">Semplicità di cantiere</th>
                    <th rowspan="2" scope="colgroup">Esiguità di ingombro</th>
                    <th rowspan="2" scope="colgroup">Totale</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let interventi of variabileIntervento; index as i">
                <tr *ngFor="let variante of interventi.varianti; index as j">
                    <td>{{interventi.intervento.codice}} {{interventi.varianti[j]}}</td>
                    <td>{{interventi.modicitaDiCosto[j]}}</td>
                    <td>{{interventi.efficacia[j]}}</td>
                    <td *ngIf="toggleSuperficie">{{interventi.supIntonacate[j]}}</td>
                    <td *ngIf="!toggleSuperficie">{{interventi.supVista[j]}}</td>
                    <td>{{interventi.reversibilita[j]}}</td>
                    <td>{{interventi.semplicitaDiCantiere[j]}}</td>
                    <td>{{interventi.esiguitaDiIngombro[j]}}</td>
                    <td>{{interventi.totale[j] | number: '1.2-2'}}</td>
                </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

<table>
    <thead>
        <th>
            Ponderazione
        </th>
    </thead>
    <tr *ngFor="let arr of ponderazione; index as i">
        {{ponderazione[i]*100 | number: '1.0-0'}}%
    </tr>
</table>