<div class="card my-5">
    <div class="card-body">
        <div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="checkbox1" [(ngModel)]="toggleSuperficie" (change)="cambiaTotale()">
              <label class="form-check-label" for="checkbox1">Premi per scegliere tra "Superfici a vista" o "Superfici intonacate"</label>
            </div>
          </div>
        <table class="table table-hover table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th rowspan="2" colspan="1">Codice</th>
                    <th rowspan="2" scope="colgroup">Modicità di costo</th>
                    <th rowspan="2" scope="colgroup">Efficacia</th>
                    <th scope="colgroup" *ngIf="toggleSuperficie">Compatibilità visiva</th>
                    <th scope="colgroup" *ngIf="!toggleSuperficie">Compatibilità visiva</th>
                    <th rowspan="2" scope="colgroup">Reversibilità</th>
                    <th rowspan="2" scope="colgroup">Semplicità di cantiere</th>
                    <th rowspan="2" scope="colgroup">Esiguità di ingombro</th>
                    <th rowspan="2" scope="colgroup">Totale</th>
                    <th rowspan="2" scope="colgroup">*</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let interventi of variabileIntervento; index as i">
                <tr *ngFor="let variante of interventi.varianti; index as j">
                    <td>{{interventi.intervento.codice}} {{interventi.varianti[j]}}</td>
                    <td>{{interventi.modicitaDiCosto[j]}}</td>
                    <td>{{interventi.efficacia[j]}}</td>
                    <td *ngIf="toggleSuperficie">{{interventi.supIntonacate[j]}}</td>
                    <td *ngIf="!toggleSuperficie">{{interventi.supVista[j]}}</td>
                    <td>{{interventi.reversibilita[j]}}</td>
                    <td>{{interventi.semplicitaDiCantiere[j]}}</td>
                    <td>{{interventi.esiguitaDiIngombro[j]}}</td>
                    <td>{{interventi.totale[j] | number: '1.2-2'}}</td>
                    <td>
                    <button (click)="premiBottone()">
                        Premi qua per scegliere l'intervento
                    </button>
                </td>
                </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div *ngIf="buttonIntervento">
        <div class="card-body">
           CARATTERISTICA: {{caratteristiche.caratteristicheQualitative}}
        </div>
        <div>
            <p>ANTE</p>
            <select style="margin-bottom: 20px;" (change)="deltaPunteggio1($event.target.value)">
                <option selected disabled>Seleziona il punteggio</option>
                <option *ngFor="let ante of caratteristiche.valutazionePunteggio">
                    {{ante.punteggio}}
                </option>
            </select>
        </div>
        <div>
            <p>POST</p>
            <select (change)="deltaPunteggio2($event.target.value)">
                <option selected disabled>Seleziona il punteggio</option>
                <option *ngFor="let post of caratteristiche.valutazionePunteggio">
                    {{post.punteggio}}
                </option>
                
            </select>
        </div>
        <button (click)="risultatoDelta()" style="margin-top: 30px;">
            Clicca per il risultato
        </button>

        <div *ngIf="a" style="margin-top: 30px">
            {{deltaPunteggioFinale}}
        </div>
    </div>

    <div>
        <table  class="table table-hover table-bordered table-striped">
            <tbody>
              <tr>
                <th scope="row">Tipologia EMS</th>
                <td>{{emsType}}</td>
              </tr>
              <tr>
                <th scope="row">PUNTEGGIO DI VULNERABILITà PRE INTERVENTO</th>
                <td>{{punteggio}}</td>
              </tr>
              <tr>
                <th scope="row">Classe di vulnerabilità: pre intervento</th>
                <td>V{{vulClass}}</td>
              </tr>
              <tr>
                <th scope="row">Soglia di punteggio per il passaggio alla classe inferiore </th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Δpunteggio per il passaggio di classe</th>
                <td>Larry</td>
              </tr>
              <tr>
                <th scope="row">Valutazione post-intervento</th>
                <td>Larry</td>
              </tr>
              <tr>
                <th scope="row">Incidenza intervento 1
                </th>
                <td>Larry</td>
              </tr>
              <tr>
                <th scope="row">Δpunteggio risultante
                </th>
                <td>Larry</td>
              </tr>
              <tr>
                <th scope="row">Punteggio di vulnerabilità post intervento
                </th>
                <td>Larry</td>
              </tr>
              <tr>
                <th scope="row">Classe di vulnerabilità post intervento
                </th>
                <td>Larry</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>