<div class="card my-5">
    <div class="card-body">
        <table class="table table-hover table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th rowspan="2" colspan="1">Codice</th>
                    <th rowspan="2" scope="colgroup">Modicità di costo</th>
                    <th rowspan="2" scope="colgroup">Efficacia</th>
                    <th colspan="2" scope="colgroup">Compatibilità visiva</th>
                    <th rowspan="2" scope="colgroup">Reversibilità</th>
                    <th rowspan="2" scope="colgroup">Semplicità di cantiere</th>
                    <th rowspan="2" scope="colgroup">Esiguità di ingombro</th>
                    <th rowspan="2" scope="colgroup">Totale</th>
                </tr>
                  <tr>

                    <th scope="col">supp. intonacate</th>
                    <th scope="col">supp. a vista</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let interventi of variabileIntervento | slice:1:7 ;index as i">
                    <td>{{interventi.intervento.codice}}</td>
                    <td>{{interventi.modicitaDiCosto}}</td>
                    <td>{{interventi.efficacia}}</td>
                    <td>{{interventi.supIntonacate}}</td>
                    <td>{{interventi.supVista}}</td>
                    <td>{{interventi.reversibilita}}</td>
                    <td>{{interventi.semplicitaDiCantiere}}</td>
                    <td>{{interventi.esiguitaDiIngombro}}</td>
                    <td *ngIf="result">{{interventi.totale | number: '1.2-2'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<button (click)="metodoMoltiplicazionePesi()">
    Calcola
</button>



<table>
    <thead>
        <th>
            Ponderazione
        </th>
    </thead>
    <tr *ngFor="let arr of ponderazione; index as i">
        {{ponderazione[i]*100 | number: '1.0-0'}}%
    </tr>
</table>


<div class="card my-5">
    <div class="card-body">
        <table class="table table-hover table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th rowspan="2" colspan="1">Codice</th>
                    <th rowspan="2" scope="colgroup">Modicità di costo</th>
                    <th rowspan="2" scope="colgroup">Efficacia</th>
                    <th colspan="2" scope="colgroup">Compatibilità visiva</th>
                    <th rowspan="2" scope="colgroup">Reversibilità</th>
                    <th rowspan="2" scope="colgroup">Semplicità di cantiere</th>
                    <th rowspan="2" scope="colgroup">Esiguità di ingombro</th>
                    <th rowspan="2" scope="colgroup">Totale</th>
                </tr>
                  <tr>

                    <th scope="col">supp. intonacate</th>
                    <th scope="col">supp. a vista</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let interventi of variabileIntervento | slice:18:24 ;index as i">
                    <td>{{interventi.intervento.codice}}</td>
                    <td>{{interventi.modicitaDiCosto}}</td>
                    <td>{{interventi.efficacia}}</td>
                    <td>{{interventi.supIntonacate}}</td>
                    <td>{{interventi.supVista}}</td>
                    <td>{{interventi.reversibilita}}</td>
                    <td>{{interventi.semplicitaDiCantiere}}</td>
                    <td>{{interventi.esiguitaDiIngombro}}</td>
                    <td *ngIf="result">{{interventi.totale | number: '1.2-2'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
