
  .my-legend .legend-scale ul {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 0;
    list-style: none;
    }
  .my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    }
  .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    }
    .floatLeft { width: 50%; float: left; }
    .floatRight {width: 50%; float: right; }
    .container { overflow: hidden; }

    .bottone{
        text-align: center;
    }

    .btn{
        margin-right: 50px;
    }