<div class="container">
    <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 15px;">
      <p><b>Seleziona la zona sismica</b></p>
      <hr>
    </div>
    <div class="card my-5">
      <div class="card-body">

<form>
<div>
    <label for="tipologiaStrutture" style="margin-top: 20px;">
      Seleziona il tipo di zona sismica</label>
    <select class="form-control" id="id1" (change)="onChange($event.target.value)">
      <option [ngValue]="undefined">Seleziona la zona sismica</option>
      <option [value]="numero.id" *ngFor="let numero of zonaSismica;index as i">
      {{numero.id}}
      </option>
    </select>
  </div>

  <div class="row" style="margin-top: 30px; justify-content: center;" *ngIf="msg1">
    <div class="col-xs-12">
        <div class="alert alert-secondary">
          <p>
            Il totale del punteggio è: {{punteggio}}
          </p>
          <p>
            La classe di vulnerabilità è V{{vulClass}}
          </p>
            <p>
               La classe di rischio è: <strong>{{risk}}</strong>
              </p>
              <p>
               Il PAM è: <strong>{{pam}}</strong>
               </p>
        </div>
    </div>
</div>

  <button type="submit" (click)="gradoDiRischio()" (click)="vediValori()" style="margin-top: 30px;" class="btn btn-primary"
  class="btn btn-info">Avanti</button>

</form>


</div>
</div>
</div>