<div class="container">
    <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 15px;">
      <p><b>Seleziona la zona sismica</b></p>
      <hr>
    </div>
    <div class="card my-5">
      <div class="card-body">

<form>
<div>
    <label for="tipologiaStrutture" style="margin-top: 20px;">
      Seleziona il tipo di zona sismica</label>
    <select class="form-control" id="id1" (change)="onChange($event.target.value)">
      <option selected disabled>Seleziona la zona sismica</option>
      <option [value]="numero.id" *ngFor="let numero of zonaSismica;index as i">
      {{numero.id}}
      </option>
    </select>
  </div>

  <div class="row" style="margin-top: 30px; justify-content: center;" *ngIf="msg1 && classeAA">
    <div class="col-xs-12">
        <div class="alert alert-secondary">
          <img src="assets\images\classe A+.png" alt="Generic placeholder image">
        </div>
    </div>
    <a class="btn btn-secondary" routerLink="/home" routerLinkActive="active" role="button">Torna alla Home</a>
  </div>

  <div class="row" style="margin-top: 30px; justify-content: center;" *ngIf="msg1 && classeA">
    <div class="col-xs-12">
        <div class="alert alert-secondary">
          <img src="assets\images\classe A.png" alt="Generic placeholder image">
        </div>
    </div>
    <a class="btn btn-secondary" routerLink="/home" routerLinkActive="active" role="button">Torna alla Home</a>
</div>

<div class="row" style="margin-top: 30px; justify-content: center;" *ngIf="msg1 && classeB">
  <div class="col-xs-12">
      <div class="alert alert-secondary">
        <img src="assets\images\classe B.png" alt="Generic placeholder image">
      </div>
  </div>
  <a class="btn btn-secondary" routerLink="/home" routerLinkActive="active" role="button">Torna alla Home</a>
</div>

<div class="row" style="margin-top: 30px; justify-content: center;" *ngIf="msg1 && classeC">
  <div class="col-xs-12">
      <div class="alert alert-secondary">
        <img src="assets\images\classe C.png" alt="Generic placeholder image">
      </div>
  </div>
  <a class="btn btn-secondary" routerLink="/home" routerLinkActive="active" role="button">Torna alla Home</a>
</div>

<div class="row" style="margin-top: 30px; justify-content: center;" *ngIf="msg1 && classeD">
  <div class="col-xs-12">
      <div class="alert alert-secondary">
        <img src="assets\images\classe D.png" alt="Generic placeholder image">
      </div>
  </div>
  <a class="btn btn-secondary" routerLink="/home" routerLinkActive="active" role="button">Torna alla Home</a>
</div>

<div class="row" style="margin-top: 30px; justify-content: center;" *ngIf="msg1 && classeE">
  <div class="col-xs-12">
      <div class="alert alert-secondary">
        <img src="assets\images\classe E.png" alt="Generic placeholder image">
      </div>
  </div>
  <a class="btn btn-secondary" routerLink="/home" routerLinkActive="active" role="button">Torna alla Home</a>
</div>

<div class="row" style="margin-top: 30px; justify-content: center;" *ngIf="msg1 && classeF">
  <div class="col-xs-12">
      <div class="alert alert-secondary">
        <img src="assets\images\classe F.png" alt="Generic placeholder image">
      </div>
  </div>
  <a class="btn btn-secondary" routerLink="/home" routerLinkActive="active" role="button">Torna alla Home</a>
</div>

<div class="row" style="margin-top: 30px; justify-content: center;" *ngIf="msg1 && classeG">
  <div class="col-xs-12">
      <div class="alert alert-secondary">
        <img src="assets\images\classe G.png" alt="Generic placeholder image">
      </div>
  </div>
  <a class="btn btn-secondary" routerLink="/home" routerLinkActive="active" role="button">Torna alla Home</a>
</div>

  <button type="submit" (click)="gradoDiRischio()" (click)="vediValori()" style="margin-top: 30px;" class="btn btn-primary"
  class="btn btn-info">Ottieni risultato</button>
</form>


</div>
</div>
</div>