<div class="container">
  <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 30px;">
    <p><b>INDIVIDUAZIONE DEGLI INTERVENTI</b></p>
  </div>
  <div class="card my-5">
    <div class="card-body">
      <form>

        <div class="form-group">
          <label for="struttura"><b>Struttura verticale</b></label>
          <select class="form-control" id="struttura" name="struttura">
            <option *ngFor="let StrutturaVerticale of verticale">
            {{ StrutturaVerticale.strutturaVerticale }}
          </option>
          </select>
        </div>

        <div class="form-group">
        <label for="struttura"><b>Caratteristiche qualitative e peculiarità negative</b></label>
        <select class="form-control" id="struttura" name="struttura">
          <option *ngFor="let CaratteristicheQualitative of caratteristica">
            {{ CaratteristicheQualitative.caratteristicheQualitative }}
          </option>        
        </select>
      </div>

      <button type="submit" class="btn btn-primary" class="btn btn-info">Avanti</button>

      </form>
    </div>
  </div>
</div>