<div class="container">
  <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 30px;">
    <p><b>INDIVIDUAZIONE DEGLI INTERVENTI</b></p>
  </div>
  <div class="card my-5">
    <div class="card-body">
      <form>

        <div class="form-group">
          <label for="struttura" ><b>Struttura verticale</b></label>
          <select value="verticale" class="form-control" id="strutturaVerticale" name="struttura">
            <option *ngFor="let StrutturaVerticale of verticale; index as i">
              {{i}} - {{ StrutturaVerticale.strutturaVerticale }}
          </option>
          </select>
        
        <label for="struttura" style="margin-top: 30px"><b>Caratteristiche qualitative e peculiarità negative</b></label>
        <select value="caratteristica" class="form-control" id="strutturaCaratteristica" name="struttura">
          <option *ngFor="let CaratteristicheQualitative of caratteristica; index as i">
            {{i}} - {{ CaratteristicheQualitative.caratteristicheQualitative }}
          </option>        
        </select>

        <button type="submit" (click)="outputSelezione()" style="margin-top: 30px;" class="btn btn-primary" class="btn btn-info">Avanti</button>
      </div>

      </form>
    </div>
  </div>
</div>