<div class = "container">
<table class="table table-bordered">
    <thead>
        <tr>
          <th scope="col">MODICITÀ DI COSTO</th>
          <th scope="col">EFFICACIA</th>
          <th scope="col">COMPATIBILITÀ VISIVA</th>
          <th scope="col">REVERSIBILITÀ</th>
          <th scope="col">SEMPLICITÀ DI CANTIERE</th>
          <th scope="col">ESIGUITÀ DI INGOMBRO</th>
        </tr>
      </thead>

<tr *ngFor="let row of matrix; index as r">
    <td *ngFor="let column of row; index as c">
        <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)" *ngIf = "r > c">
            <option [ngValue]="a.num" *ngFor="let a of arrayComparazione">
                {{a.char}} <!--{{r}} :: {{c}}-->
            </option>
        </select>
        <div *ngIf=" c >= r">
            {{oggetto[r][c]}}
        </div>
    </td>
</tr>
<tr >
    <td *ngFor="let risultato of matrixRisultati">
        {{risultato}}
    </td>
</tr>
</table>

<table class="table table-bordered">
    <tr *ngFor="let row of matrix; index as r">
        <td *ngFor="let column of row; index as c">
            <div>
                {{oggetto[r][c]/matrixRisultati[c]}}
            </div>
        </td>
    </tr>
    </table>
</div>
