<div class="container" *ngFor="let InterventoA2 of interventoA2">
    <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 15px;">
        <p><b>Titolo Intervento:</b> </p>
        <p>{{InterventoA2.titolo}}</p>
    </div>
    <hr>
    <div class="corpo" style="text-align: center;margin-top: 30px; font-size: 15px;">
        <p><b>Testo:</b> </p>
        <p>{{InterventoA2.corpo}}</p>
    </div>
    <hr>
    <div class="immagine" style="text-align: center;margin-top: 30px; font-size: 15px;">
        <p><b>immagine:</b> </p>
        <p>{{InterventoA2.immagine}}</p>
    </div>
    <hr>
</div>