<div class="container" *ngFor="let InterventoA2 of interventoA2">
    <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 30px;">
        <p><b>Titolo Intervento:</b> {{InterventoA2.titolo}}</p>
    </div>
    <div class="corpo" style="text-align: center;margin-top: 30px; font-size: 30px;">
        <p><b>Testo:</b> {{InterventoA2.corpo}}</p>
    </div>
    <div class="immagine" style="text-align: center;margin-top: 30px; font-size: 30px;">
        <p><b>immagine:</b> {{InterventoA2.immagine}}</p>
    </div>
</div>