<!--Container per centrare tutto-->
<div class="container ems">

  <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 30px;">
    <p><b>Seleziona la tipologia EMS</b></p>
  </div>

  <div class="card my-5">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="tipologiaStrutture"></label>


          <div class="titolo" style="text-align: center;">
            <p><b>Seleziona il tipo</b></p>
          </div>


          <select value="edificio" class="form-control" id="edificioInAggregato" name="edificio">
            <option *ngFor="let TipoEdificio of edificioInAggregato; index as i"
              [ngStyle]="{'background-color': i==1 ? 'orange' : 'transparent' && i==3 ? 'orange' : 'transparent'}">
              {{i+1}} - {{ TipoEdificio.tipologiaStrutture }}
            </option>
          </select>
          

          <div class="container bottoni">

          
            <div class="mbr-section-btn"> 
              <a class="btn btn-md1 btn-secondary display-4" routerLink="/home" routerLinkActive="active" href="#" role="button">&laquo; Indietro</a>
            
              <a class="btn btn-md2 btn-secondary display-4" routerLink="/edificio-in-aggregato-q" routerLinkActive="active" button
                  type="submit" (click)="outputSelezione()" href="#" role="button">Avanti &raquo; </a>



          </div><!-- /.row -->
        </div><!-- /.container bottoni -->


        </div><!-- /.form-group -->

      </form>
    </div><!-- /.card-body -->
  </div><!-- /.card my-5 -->
</div><!-- /.container -->

<!--
<div class="row" *ngIf="showMsg1">
  <div class="col-xs-12">
      <div class="alert alert-warning">
          <p>
              <strong>Il tipo di edificio non è disponibile</strong>
          </p>
      </div>
  </div>
</div>
-->