<div class="container ems">
  <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 30px;">
    <p><b>Seleziona la tipologia EMS</b></p>
  </div>
  <div class="card my-5">
    <div class="card-body">

      <div class="form-group">
        <label for="tipologiaStrutture"></label>

        <div class="titolo" style="text-align: center;">
          <p><b>Seleziona la tipologia EMS per l'edificio in aggregato</b></p>
        </div>

        <select class="form-control" id="edificioInAggregato" name="edificio" (change)="onChange($event.target.value)">
          <option selected disabled>Seleziona EMP</option>
          <option [value]="tipoEdificio.id" *ngFor="let tipoEdificio of edificioInAggregato;"
            [class.bg-warning]="tipoEdificio.abilitato">
            {{tipoEdificio.id}} - {{ tipoEdificio.tipologiaStrutture }}
          </option>
        </select>

        <div class="mbr-section-btn">
          <button class="btn btn-md1 btn-secondary display-4" style="width: 94px;" routerLink="/home"
            routerLinkActive="active">&laquo; Indietro</button>
          <button class="btn btn-md1 btn-secondary display-4" [disabled]="avantiAbilitato"
            style="margin-left: 13px; width: 94px; float: right;" (click)="outputSelezione()">Avanti &raquo;
          </button>
        </div>

      </div>
    </div>
  </div>
</div>