<form>

    <head>
        PACCHETTO INVESTIMENTI STRUTTURALI
    </head>

    <p>
        RIEPILOGO DEGLI INTERVENTI E CALCOLO DEI COSTI DI INVESTIMENTO
    </p>
    <table class="table table-bordered">
        <tr *ngFor="let elemento of interventi; index as j">
            <thead class="thead-dark">
                <th>
                    Intervento:
                </th>
                <th>
                    Prezzo unità/quantità:
                </th>
                <th>
                    Costo parziale:
                </th>
                <th>
                    Metri quadri:
                </th>
            </thead>
            <tbody>
                <td>
                    {{elemento.intervento.codice}}
                </td>
                <td>
                    {{elemento.prezzo}}€/{{elemento.unitaMisura}}
                </td>
                <td>
                    {{elemento.prezzo * elemento.valoreCifra}}€
                </td>
                <td>
                    <input type="number" [value]="elemento.valoreCifra"
                        (input)="elemento.valoreCifra = $event.target.value" style="margin-left: 20px;">
                </td>
            </tbody>
        </tr>
    </table>
    <button class="btn btn-info" (click)="calcolaInvestimentoTotale()">
        Calcola il costo totale di investimento
    </button>
    <p>
        Costo di investimento totale: {{totale}}€
    </p>
    <p>
        Incidenza del pacchetto di interventi sul punteggio di vulnerabilità: {{sommaPacchettoInterventi}}
    </p>
    <p>
        Cu(S) Indice di costo per decremento unitario percentuale di vulnerabilità: 
        {{risultatoDivisione}}
    </p>
</form>

<p>
    IPOTESI DI DANNO E PREVISIONE DEI COSTI DI RIPARAZIONE
</p>
<table class="table table-bordered" style="margin-top: 30px;">
    <thead>
        <th>
            Livello di danno ipotizzato: 
            <select (click)="onChangeDannoIpotizzato($event.target.value)">
                <option selected disabled>
                    Seleziona: 
                </option>
                <option [value]="danno.id" *ngFor="let danno of dannoIpotizzato; index as j">
                    {{danno.valore}} {{danno.costo}}€/mq
                </option>
            </select>
        </th>
    </thead>
    <tbody>
        <tr>
            <td>
                Superficie totale:
                <input type="number" [value]="numeroUtente" 
                (input)="numeroUtente = $event.target.value">
            </td>
            <td>
                Costo di riparazione: {{costoRiparazione}}€
            </td>
        </tr>
    </tbody>
</table>