<div class="container">
  <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 30px;">
    <p><b>CLASSIFICAZIONE DI VULNERABILITÀ</b></p>
  </div>
  <div class="card my-5">
    <div class="card-body">

      <form>
        <div class="form-group">
          <label for="struttura"><p><b>Classi primarie di elementi tecnici</b></p></label>
          <select value="structure" class="form-control" id="structure" (change)="onChange($event.target.value)"
            name="struttura">
            <option selected disabled>
              Seleziona
            </option>
            <option [value]="i" *ngFor="let array of typeStruttura; index as i">
              {{ array.typeName }}
            </option>
          </select>

          <label></label>
          <p><b>Classi secondarie di elementi tecnici</b></p>

          <select [(ngModel)]="selectedIndex" (change)="onChangeSecondo($event.target.value)" style="margin-top: 30px;" value="struttura" class="form-control" id="structure" name="struttura">
            <option selected disabled>
              Seleziona
            </option>
            <option [value]="i" *ngFor="let arr of selectedElement; index as i;">
              {{arr.struttura}}
            </option>
          </select>

          <label></label>
          <p><b>Caratteristiche qualitative</b></p>
          <select [(ngModel)]="selectArr" style="margin-top: 30px;" value="struttura" (change)="onChangeCaratteristicheQualitative($event.target.value)" class="form-control" id="structure" name="struttura">
            <option [value]="i" *ngFor="let car of caratteristiche; index as i">
              {{car.caratteristicheQualitative}}
            </option>
          </select>

          <select *ngIf="caratteristiche[selectArr]" [(ngModel)]="selectedMeccanicaIndex" style="margin-top: 30px;" value="struttura" (change)="onChangeCaratteristicheQualitative($event.target.value)" class="form-control" id="structure" name="struttura">
            <option [value]="i" *ngFor="let meccanismo of caratteristiche[selectArr].meccanismiAssociati; index as i">
              {{meccanismo.descrizione}}
              {{meccanismo.modi_di_danno_alle_strutture_orizzontali}}
              {{meccanismo.modi_di_danno_alle_strutture_verticali}}
            </option>
          </select>

          <button (click)="trasferisciOggetti()" type="submit" style="margin-top: 30px;" class="btn btn-primary" class="btn btn-info">Avanti</button>

        </div>
      </form>
      
    </div>
  </div>
</div>