<div class="container">
  <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 30px;">
    <p><b>STRUTTURE</b></p>
  </div>
  <div class="card my-5">
    <div class="card-body">
      <form>

        <div class="form-group">
          <label for="struttura"><b>Strutture</b></label>
          <select value="structure" class="form-control" id="structure" (change)="onChange($event.target.value)"
            name="struttura">
            <option selected disabled>
              Seleziona la struttura
            </option>
            <option [value]="array.id" *ngFor="let array of arrayStruttura; index as i">
              {{ array.name }}
            </option>
          </select>

          <select style="margin-top: 30px;" value="struttura" class="form-control" id="structure" name="struttura">
            <option *ngFor="let arr of selectedElement; index as i;">
              {{arr.strutturaVerticale}}
              {{arr.strutturaOrizzontale}}
              {{arr.strutturaInclinata}}
              {{arr.strutturaSpaziale}}
              {{arr.infissiEsterniVerticali}}
            </option>
          </select>

          <button type="submit" style="margin-top: 30px;" class="btn btn-primary" class="btn btn-info">Avanti</button>
        </div>

      </form>
    </div>
  </div>
</div>