<div class="container">
    <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 30px;">
        <p><b>Inserisci un nuovo intervento</b></p>
    </div>
    <div class="card-body">

        <form (ngSubmit)="onSubmitA1()" #interventoA1Form="ngForm">
            <div class="row" *ngIf="showMsg1">
                <div class="col-xs-12">
                    <div class="alert alert-success">
                        <p>
                            <strong>InterventoA1 aggiunto con successo</strong>
                        </p>
                        <a routerLink="/a1" routerLinkActive="active">Guarda l'intervento A1</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="interventoA1">Inserisci il titolo dell'intervento A1</label>
                <input type="text" [(ngModel)]="interventoA1.titolo" class="form-control"
                    id="interventoA1" name="interventoA1">
            </div>
            <div class="form-group">
                <label for="interventoA1">Inserisci il corpo dell'intervento A1</label>
                <input type="text" [(ngModel)]="interventoA1.corpo" class="form-control"
                    id="interventoA1" name="interventoA1">
            </div>
            <div class="form-group">
                <label for="interventoA1" style="margin-right: 20px;">Inserisci l'immagine dell'intervento A1: </label>
                <input type="file" [(ngModel)]="interventoA1.immagine"
                    id="interventoA1" name="interventoA1">
            </div>

            <div class="container" style="justify-content: center; margin-bottom: 40px;">
                <button type="submit"  
              class="btn btn-info">Aggiungi</button>
            </div>
        </form>

        <form (ngSubmit)="onSubmitA2()" #interventoA2Form="ngForm">
            <div class="row" *ngIf="showMsg2">
                <div class="col-xs-12">
                    <div class="alert alert-success">
                        <p>
                            <strong>InterventoA2 aggiunto con successo</strong>
                        </p>
                        <a routerLink="/a2" routerLinkActive="active">Guarda l'intervento A2</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="interventoA2">Inserisci il titolo dell'intervento A2</label>
                <input type="text" [(ngModel)]="interventoA2.titolo" class="form-control"
                    id="interventoA2" name="InterventoA2">
            </div>
            <div class="form-group">
                <label for="interventoA2">Inserisci il corpo dell'intervento A2</label>
                <input type="text" [(ngModel)]="interventoA2.corpo" class="form-control"
                    id="interventoA2" name="InterventoA2">
            </div>
            <div class="form-group">
                <label for="interventoA2" style="margin-right: 20px;">Inserisci l'immagine dell'intervento A2: </label>
                <input type="file" [(ngModel)]="interventoA2.immagine"
                    id="interventoA2" name="InterventoA2">
            </div>

            <div class="container" style="justify-content: center;">
                <button type="submit" class="btn btn-info">Aggiungi</button>
            </div>
        </form>
    </div>
</div>